{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true
        },
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        },
        "experimental": {
            "plugins": [["./swc-plugin.wasm", {}]]
        }
    },
    "module": {
        "type": "es6"
    }
}
